body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#inputText {
  width: 95%;
}

#inputText:focus {
  outline: none;
}

#list {
  width: 93%;
  overflow-x: auto;
}

.do-list {
  width: 55% !important;
}

.listContainer {
  max-height: 33rem !important;
  overflow-y: auto;
}

.compContainer {
  max-height: 33rem !important;
  overflow-y: auto;
}

.comp-list {
  width: 55% !important;
}

.hidden {
  display: none !important;
}

.line-through {
  text-decoration: line-through !important;
}
